{% extends "base.html" %}

{% block content %}
    <h1>User Signup!</h1>
    <form  action = "/register" method='post'>
        <label for="User_name"> User name</label>
           <input type="text" name='text' />
        <br><br>
        <label for="password">Password</label>
           <input name="password" type="password">
        <br><br>
        <label for="verify">Verify Password</label>  
           <input name="verify" type="password"> 
        <br><br> 
        <label for="email">Email</label>  
        <input name="email" type="email" value="{{ email }}"> 
        <br><br>
           <input type="submit" value='Register' />
        

            

    </form>

    
{% endblock %}